{% extends 'base.html.twig' %}

{% block title %}Edit TypeIssue{% endblock %}

{% block body %}
    <h1>Edit TypeIssue</h1>

    {{ include('type_issue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_issue_index') }}">back to list</a>

    {{ include('type_issue/_delete_form.html.twig') }}
{% endblock %}
