{% extends 'base.html.twig' %}

{% block title %}Edit AssocIssueNotation{% endblock %}

{% block body %}
    <h1>Edit AssocIssueNotation</h1>

    {{ include('assoc_issue_notation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('assoc_issue_notation_index') }}">back to list</a>

    {{ include('assoc_issue_notation/_delete_form.html.twig') }}
{% endblock %}
